.main-1{

    background: linear-gradient(#ec80f0, #a8aeee,white);
    padding: 150px;
    background-size: cover;
    
    
    
}
#h1-main-1{

    font-size:50px;
    font-family: sans-serif;
    letter-spacing: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1px;
   

}
#h4-main-1{
    line-height: 0;
    color: rgb(255, 255, 255);
}

#Menu {
    font-family: sans-serif;
    color: #5760c5;
    font-weight:bolder;
    background-color: #ec80f0;
    border-color:#ec80f0 ;
    padding: 2px;
    box-shadow: #ec80f0;
}

