.thirdpart{
    line-height: 1.7;
    font-size:20px;}
.container {

    max-width: 1140px;
    margin: 100px auto;
    padding: 20px;
}

.images{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ff{
    border: 1px black solid;
    width: 100%;
    height: 100%;

}
.gui{
    border: 1px black solid;
    width: 360px;
    height: 300px;
    margin-left: 30px;  
}

.ss{
    border: 1px black solid;
    width: 360px;
    height: 300px;
    margin-left: 30px;

}
.tt{
    border: 1px black solid;
    width: 360px;
    height: 300px;
    margin-left: 30px;

}

.ocasion{
    margin-top: 50px;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    
}

.ocasion .first-item {

    grid-column: 1/2;

}

.ocasion .third-item {

    grid-row: span 4;
}
.navbarsection{
    margin: 0px;
    padding: 0px;
    margin-top: 0%;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(#D0EBF0,#F39DCB,#E883F3,#BFF0ED);;
    
    
}
.logo{

    display: flex;
    flex-direction: row;
    width:100px;
    height: 100px;
    margin-left: 0px;
    padding-right: 0px;
    border-right: 1px solid rgba(27, 26, 26, 0.5);;
  
}

.navbar{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100px;
    width:auto;
    border-bottom: 2px solid rgba(27, 26, 26, 0.5);
    box-shadow: -4px -3px 45px 21px rgba(99, 96, 96, 0.35);
    
}

.mylist, .listitem, .list{
    flex-grow: 5;
    display: inline;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
    color:black;
  

}

.rightnav{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    margin-right: 50px;
    padding: 10px;
    border-left: 1px solid rgba(27, 26, 26, 0.5); ;
    
}
.bag{

    width: 20px;
    height: 20px;
    float: right;
    padding-left: 20px;
}
.moto{
   display: flex;
   flex-direction: column;
   float: left;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
}
.a{
    
    width: 300px;
    height: 4px;
}

.text{
    font-size: 16px;
    font-weight: lighter;
    margin-top: -40px;
    margin-bottom: -40px;
}


.main-1{

    background: linear-gradient( #BFF0ED, #E883F3,#F39DCB,white);
    margin: 0px;
    padding: 100px;
    background-size: cover;
    
  
}
#h1-main-1{

    font-size:50px;
    font-family: sans-serif;
    letter-spacing: 1rem;
    color: black;
    margin-bottom: 1px;
   

}
#h4-main-1{
    line-height: 0;
    color: black;
}

#Menu {
    font-family: sans-serif;
    color: #455857;
    font-weight:bolder;
    background-color: #ec80f0;
    border-color:#ec80f0 ;
    padding: 2px;
    box-shadow: #ec80f0;
}


footer {
    background-color: black;
    color: white;
}
#main-footer{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style:inherit;
    display: flex;
    padding: 50px;

}
#main-sub{
    margin: 50px;

}
#main-sub p{
    font-family: Verdana , sans-serif;
    color: rgba(255, 255, 255, 0.762);
    font-weight: 100;
}
#main-sub h1 ,p {
    word-spacing: 3px;
    padding: 20px;

}
#img-footer{
  width: 300px;
}
#btn-footer{
    background-color: black;
    border: 1.2px solid white;
    border-radius: 100%;
    padding: 25px;
    margin-right: 15px;
}
#btn-div{
    display: flex;
     width: auto;
     margin-top: 25px;
     
    
}
#btn-footer img{
    width: 30px;
}
#footer-bar{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    border-top:1px solid white ;


}
#logo-container-footer{
    width: 150px;
    border-right:1px solid white ;
    margin-right:15px ;
}
#footer-bar-img{
    width: 120px;
    justify-self: flex-end;

 max-width:  120px;

    
}

#footer-bar ul{
    margin-top: 20px;
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-left: 125px;
    grid-gap: 150px;
    max-width: 350px;
    list-style-type: none;
   font-family: Arial, Helvetica, sans-serif;

}
#footer-bar ul li a{
  text-decoration: none;
  color: white;
}
#svg-div{
    margin-left: 0px;
    border-left:1px solid white ;
}
#svg-id{
    max-width: 100px;
    display: flex;
    justify-self: flex-end;
    margin-left: 0px;
    margin-left:25px ;
}
